<div class="welcome-container">
  <div class="image-container">
    <img src="assets/images/welcome-image.svg" alt="Welcome Image" class="welcome-image">
  </div>
  <h1 class="title">PASTIBOT APP</h1>
  <p class="subtitle">el asistente de tu medicación</p>
  <button class="action-button" (click)="navigateToLogin()">
    <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
      <path d="M49.199 39.5416H12.1667V33.4583H49.199L32.1656 16.425L36.5 12.1666L60.8333 36.5L36.5 60.8333L32.1656 56.575L49.199 39.5416Z" fill="#FEF7FF"/>
    </svg>
  </button>
</div> 