<div class="medicines-list-container">
  <div class="header">
    <button class="back-button" (click)="navigateBack()">
      <img src="assets/images/arrow.svg" alt="Back">
    </button>
    <img src="assets/images/welcome-image.svg" alt="Bot" class="header-bot-image">
  </div>

  <h1 class="title">Todo tu plan en un solo lugar</h1>

  <div class="tabs">
    <button class="tab-button" [class.active]="activeTab === 'daily'" (click)="setActiveTab('daily')">Diario</button>
    <button class="tab-button" [class.active]="activeTab === 'weekly'" (click)="setActiveTab('weekly')">Semanal</button>
    <button class="tab-button" [class.active]="activeTab === 'monthly'" (click)="setActiveTab('monthly')">Mensual</button>
  </div>

  <div class="medicine-cards-container">
    <ng-container *ngIf="groupedMedicines.length > 0; else noMedicines">
      <ng-container *ngFor="let group of groupedMedicines">
        <h2 class="patient-name-header">{{ group.patientName }}</h2>
        <div class="daily-agenda-card" (click)="navigateToMedicineDetail(group.patientId)">
          <div class="card-header">
            <img src="assets/images/info-icon.svg" alt="Info" class="info-icon">
            <span class="card-title">Agenda</span>
            <button class="close-button" (click)="openDeleteConfirmation(group.patientId, $event)">
              <img src="assets/images/close-icon.svg" alt="Close">
            </button>
          </div>
          <div class="card-body">
            <div class="medicine-item" *ngFor="let medicine of group.medicines">
              <img [src]="medicine.dosis.includes('tableta') ? 'assets/images/medicine-pill.jpg' : 'assets/images/medicine-syringe.jpg'" alt="Medicine Icon" class="medicine-icon">
              <span>{{ medicine.nombre }}</span>
              <span class="time">
                <ng-container *ngIf="isToday(medicine.horaFecha)">
                  {{ medicine.horaFecha | date:'shortTime' }}
                </ng-container>
                <ng-container *ngIf="!isToday(medicine.horaFecha)">
                  {{ medicine.horaFecha | date:'shortDate' }}
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noMedicines>
      <div class="no-medicines-message">
        No hay medicamentos registrados.
      </div>
    </ng-template>
  </div>
</div>

<app-confirm-modal
  [isOpen]="showConfirmModal"
  title="Eliminar medicamentos"
  message="¿Estás seguro de que deseas eliminar todos los medicamentos de hoy para este paciente?"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
></app-confirm-modal> 